form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }
  
  input:focus {
    outline: none;
    border-color: #7f7f7f;
  }
  
  Button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: #4893e2;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 10px solid black;
  }
  
  Button:hover {
    background-color: #4893e2;
  }
  